
#wb_header { height: 90px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none no-repeat scroll center bottom; }
#wb_main { height: 2399px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 42px; background-color: #f0f0f0; }
#wb_footer:before { background: transparent none repeat left top; background-size: auto auto; }
html { scroll-behavior: smooth; }
body { background-color: transparent; }
body.site:before { background: transparent none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 1200px; min-height: 2569px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 2531px; min-height: 2569px; }
#wb_element_instance0 { top: 21px; left: 520px; min-width: 680px; width: 680px; min-height: 52px; height: 52px; display: block; z-index: 523; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat left top; }
#wb_element_instance0 li { margin: 10px 20px 20px 20px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 2px 10px 2px 10px; font: normal bold 16px 'Work Sans',Arial,sans-serif; text-decoration: none; color: #33ad0a; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 16px 'Work Sans',Arial,sans-serif; text-decoration: underline; color: #666666; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 16px 'Work Sans',Arial,sans-serif; text-decoration: none; color: #666666; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 18px; left: 10px; min-width: 450px; width: 450px; min-height: 31px; height: 31px; display: block; z-index: 322; }
#wb_element_instance2 { top: 13px; left: 10px; min-width: 1190px; width: 1190px; min-height: 24px; height: 24px; display: block; z-index: 324; }
#wb_element_instance3 { top: 180px; left: 0px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; z-index: 197; }
#wb_element_instance4 { top: 540px; left: 139px; min-width: 920px; width: 920px; min-height: 1810px; height: 1810px; display: block; z-index: 199; }
#wb_element_instance5 { top: 0px; left: 0; right: 0; min-height: 440px; height: 440px; display: block; z-index: 196; }
#wb_element_instance5 > .wb_shp { display: block; background-color: rgba(255, 255, 255, 1); border: 1px none #000000; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 440px; }
#wb_element_instance5 > .wb_shp:before { background: transparent url("../gallery_gen/0fba7581623e17aca8d65a1677703e8d.jpg") repeat fixed center center; background-size: cover; opacity: 1; }
#wb_element_instance6 { top: 57px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { opacity: 1; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance2 { opacity: 1; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
